* {
  font-family: 'Carrois Gothic', sans-serif;
  outline: none;
}

/* desktop */
@media (min-width: 1199px) {
  body {
    margin-top: 70px;
  }
}

/* medium */
@media (min-width: 991px) {
  body {
    margin-top: 70px;
  }
}

/* small */
@media (min-width: 769px) {
  body {
    margin-top: 70px;
  }  
}

/* extra small */
@media (max-width: 767px) {
  body {
    margin-top: 220px;
  }  
}


.btn:focus,
.btn:active:focus,
.btn.active:focus {
  outline: none;
}

.no-notes {
	margin-top: 50px;
	text-align: center;
  font-size: 20px;
	color: #d7d5d5;
}

.note-tile {
  width: 100%;
	border: 2px rgba(151, 151, 151, 1.0) solid;
	margin-bottom: 30px;
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tile-icons i {
  font-size: 32px;
  color: rgba(248, 231, 28, .45);
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.tile-icons i:hover {
  color: rgb(119, 119, 119);
  cursor: pointer;
}

.description {
  font-family: 'Carrois Gothic SC', sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin-top: 75px;
	padding-left: 20px;
  padding-right: 20px;
  width: inherit;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.lower-half {
  margin-top: 13px;
  background-color: rgba(248, 231, 28, .45);
  border-top: 2px solid rgba(151, 151, 151, 1.0);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  overflow: hidden;
}

.lower-half > ul {
  padding-top: 20px;
  padding-left: 20px;
  margin: 0px;
}

.lower-half > ul > li {
  list-style: none;
  font-size: 14px;
  padding-bottom: 10px;
}

.lower-half > ul > li > label {
  display: block;
  font-weight: bolder;
}

.divider {
	font-style: normal;
}

.title {
	width: 100%;
	margin-bottom: 20px;
}

.title > input {
	width: 100%;
	border: none;
	padding: 5px;
	background-color: #f8f8f8;
}

.note-text {
	width: 100%;
	margin-bottom: 20px;
}

.note-text > p {
	width: 100%;
	padding: 5px;
	background-color: #f8f8f8;
  margin-bottom: 20px;
}

.buttons {
	width: 100%;
	text-align: right;
  margin-bottom: 10px;
}

.buttons input:first-child {
	margin-right: 10px;
}

.files-table {
  margin-top: 40px;
}

.delete-attachment:hover {
  color:red;
  cursor: pointer;
}

.navbar-left .fa-spin {
  color: rgba(181, 210, 244, 1.0);
}

.underline {
  text-decoration: underline;
  cursor: pointer;
}