<div>
  <div class="row">
  	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="buttons">
        <a class="btn btn-primary btn-sm" type="button" data-ng-click="save()"><i class="fa fa-save"></i></a>
        <a class="btn btn-default btn-sm" type="button" data-ng-click="cancel()"><i class="fa fa-long-arrow-left"></i></a>
  		</div>
			<div class="title">
  			<input type="text" placeholder="title" data-ng-model="note.title" data-ng-focus/>
  		</div>
  		<div class="note-text">
  			<p word-count contenteditable="true" data-ng-model="note.note"></p>
  		</div>
			<div>
				<p class="word-count"></p>
			</div>
  	</div>
  </div>
</div>
